/*娓呴櫎鏍煎紡 begin*/

* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 微软雅黑;
	font-size: 14px;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	
}

.clearfix {
	clear: both;
}
/*娓呴櫎鏍煎紡 end*/
/*璁剧疆绐楀彛鏈�皬鍊�begin*/
body{
	min-width:1000px;
	width: 100%;
}
/*璁剧疆绐楀彛鏈�皬鍊�end*/
body.content {
	width: 100%;
	height: 100%;
    background:#f7f6f6; 
    color: #333;
}
.tip{
	font-size: 12px;
    color: #f15929;
    line-height: 20px;
}
#accountShowDiv .jl-panel>div>div {
	height: 300px;
    padding: 20px;
    margin-bottom: 20px;
}

#accountShowDiv .jl-panel img {
	cursor: pointer;
    box-shadow: 0px 1px 6px #ccc;
    width: 100%;
    height: 300px;
}
.table input.edit,.table button.edit{
    margin: 5px;}