.dataTables_wrapper .row:first-child {
	padding-top: 0;
	padding-bottom: 0;
}

.table thead th,
.table tbody td {
	height: 35px;
	text-align: center;
}

table {
	background: #fff;
	table-layout: fixed;
}

#datatable {
	width: 100%;
	margin-bottom: 20px;
}

.table-header {
	background: #fff;
}

.table thead>tr>th {
	height: 40px;
	line-height: 40px;
}

.table tbody>tr>td {
	word-break: break-all
}

.table tr>th {
	text-align: center;
}

.text-title {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 30px;
}

.search-div {
	background: #fff;
	padding: 10px 30px;
	line-height: 40px;
}

.search-div span {
	display: list-item;
}

.search-div .btn_search {
	margin-right: 27px;
}

select {
	width: 163px;
	border-radius: 0!important;
}

.form-control:focus,
select:focus {
	border-color: #61b747!important;
	background-color: #fff!important;
}

input:disabled,
button:disabled,
select:disabled,
option:disabled,
select[disabled]>option {
	background: #f5f5f5;
}

.jl_f_l {
	float: left;
}


/*btn begin*/

.btn_search,
.jl-btn-importent {
	background: #61b747;
	border-radius: 4px;
	color: white;
	border: 1px solid #fff;
	letter-spacing: 1px;
}

.jl-btn-importent {
	height: 26px;
	line-height: 18px;
}

.btn_search {
	line-height: 28px;
}

.btn_search:hover,
.jl-btn-importent:hover {
	background: #86c872;
}

.opration-div {
	margin-top: 20px;
	margin-bottom: 7px;
}

td>.btncss,
.jl-btn-defult {
	background: #fff;
	border-radius: 4px;
	color: #555;
	border: 1px solid #ccc;
	height: 26px;
	line-height: 18px;
	letter-spacing: 1px;
}

td .btncss:hover,
.jl-btn-defult:hover {
	color: #61b747;
	background: #fff;
}

.jl-btn-warm {
	background: #ff9610;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #ffbf6d;
	height: 26px;
	line-height: 18px;
	letter-spacing: 1px;
}

.jl-btn-warm:hover {
	background: #f9a73e;
}


/*btn end*/

.look-span {
	cursor: pointer;
	color: #61b747;
}

.look-span:hover {
	color: #86c872;
}

#editDiv,
#lookDiv {
	padding-top: 20px;
	line-height: 34px;
}


/* 提示框 */

.alert-box {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	background: #e7e7e7;
	padding: 0 20px;
	margin-top: 10px;
	border-radius: 2px;
	color: #d15b47;
	margin-left: 10px;
}


/*预览图片  */

.lookPic-div {
	text-align: center;
	padding: 20px;
}

.lookPic-div>img {
	max-width: 500px;
	max-height: 500px;
}


/*星号  */

.asterisk {
	color: #ff2500;
}


/*面板*/

.jl-panel {
	width: inherit;
	clear: both;
	margin-bottom: 20px;
	padding: 30px 0;
	border: 2px dashed #e9e9e9;
	border-top: 5px solid #e0eeb2;
	border-radius: 5px;
}

.jl-title>span {
	border-left: 5px solid #e0eeb2;
	line-height: 40px;
	font-weight: bold;
	padding: 0px 5px;
	margin: 10px 0;
}

.close_span {
	position: absolute;
	top: 8px;
	right: 10px;
	color: #b5b5b5;
	z-index: 1;
}


/*垂直居中*/

.div-all {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	display: table;
}

.div-half {
	height: 50%;
	padding: 0 20px;
	display: table;
}

.div-table {
	padding: 0 20px;
	display: table;
}

.div-middle {
	display: table-cell;
	vertical-align: middle;
}

.div-top {
	display: table-cell;
	vertical-align: top;
}


/*打印单据 begin */

.print-content {
	margin: 100px;
	line-height: 50px;
	font-size: 13px;
}

.print-content label,
.print-content div {
	font-size: 13px;
}

.print-content .form-group {
	margin: 0;
}

.print-title {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 10px;
}

.print-table tr>th,
.print-table tr>td {
	border: 1px solid #000000 !important;
	text-align: center;
}

.print-content .col-xs-4,
.print-content .col-xs-8 {
	display: block;
	word-break: break-all;
	word-wrap: break-word;
	padding-left: 0;
}

.print-content .col-xs-3,
.print-content .col-xs-5 {
	padding: 0;
}

.print-content .col-xs-7 {
	word-break: break-all;
}

.print-table-div,.nonowrap-table-div{
	width: 100%;
	overflow-x: auto;
}
/* 详情 新增 table 不换行 */
.print-table-div .table tbody>tr>td,.nonowrap-table-div .table tbody>tr>td{
	word-break: keep-all;
	white-space: nowrap;
}
.nonowrap-table-div .table input[type="text"]{
	min-width: 100px;
}
/*打印单据 end */

.watermark {
	width: 100%;
	position: absolute;
	top: 39%;
	left: 0;
	color: #ccc;
	z-index: 0;
	opacity: 0.1;
	transform: rotate(-21deg);
	font-size: 16px;
}

.watermark>div {
	letter-spacing: 10px;
}

.searchable-select-dropdown {
	max-height: 350px;
	overflow-y: scroll;
}