@charset "utf-8";

body,div,ul,ol,li,span,p,strong,a,img,h1,h2,h3,h4,h5,h6,table,tr,th,td,dl,dt,dd,font{ margin:0; padding:0; border:none;}
ul,ol,li{list-style:none;}
input,textarea{margin:0; padding:0;}
a{ text-decoration:none;color:#333333;}
a:hover{ color: #333333; text-decoration:underline;}
body{ line-height:24px; font-size:12px; font-family:"微软雅黑","黑体"}



.tablecss,.tablecss tr,.tablecss th,.tablecss td{ border:solid 1px #c8dff0; border-collapse:collapse; padding:10px;}
.tablecss th{ background:#dbeaf5;}

.btncss{ padding:0px 20px; margin:0 10px; height:30px; border:none; background:#3399cc; color:#FFFFFF; cursor:pointer;}
.btncss:hover{ background:#54b5e5;}
.btn_edit{ background:#339900;}
.btn_edit:hover{ background:#66cc33}
.btn_delete{ background:#cc3333;}
.btn_delete:hover{ background:#ff3333;}
.btn_check{ background:#009999;}
.btn_check:hover{ background:#00cccc}
.btn_add{ background:#ff9933}
.btn_add:hover{ background:#ff6600}
.btn_back{ background:#666666}
.btn_back:hover{ background:#999999}
.btncss_disable{ background:#CCCCCC; cursor:auto;}
.btncss_disable:hover{ background:#CCCCCC; cursor:auto;}
.nocheck{ color:#FF0000;}
.bg_td{ background:#eef5fa}
.biaoti,.biaoti:hover{ color:#006699; text-decoration:underline;}

input{ height:30px; line-height:30px; /*margin:0 5px;*/ padding:0 5px;}
.input_01{ background:#eef5fa; border:solid 1px #3399cc;}
.input_check{ height:20px; width:20px; background:none; vertical-align:middle;border:solid 1px #3399cc;}
.input_radio{ height:20px; width:20px; background:none; vertical-align:middle;border:solid 1px #3399cc;}

.select{ height:30px; line-height:30px; margin:0 5px;background:#eef5fa; border:solid 1px #3399cc;}
.textarea{ width:400px; height:160px; background:#eef5fa; border:solid 1px #3399cc; padding:5px;}

tr:hover{ background:#fcf9ee;}



.workcon h2{ padding:8px 5px; margin:10px 0;border-left: 5px solid #A5D2EC;}
.workcon h3{ padding:7px 5px; margin:10px 0;border-left: 5px solid #A5D2EC;}
.workcon .text{line-height:1.5;}
.workcon blockquote {font-size:14px;padding: 15px 10px; margin:15px 0;border:1px solid #eee;border-left: 5px solid #ddd;padding: 15px 21px;color: #555; overflow:hidden;}
/*.workcon .code{font-size:14px;background: #f4f4f4;padding:0px 15px;overflow: auto;color: #424242;-webkit-border-radius: 5px;border-radius: 5px;line-height: 18px;visibility:visible; text-align: left}*/
.workcon .code{border: 1px dashed #C8C8C8;padding:0px 15px;font-size: 14px;margin-top: 4px;margin-bottom: 4px;margin-left: 0px;margin-right: 0px;white-space: pre-wrap;background-color: #F9F9F9; background-position:top right; background-repeat:no-repeat;background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAAA7CAMAAADW4o1BAAAAgVBMVEUAAADS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLis3fOAAAAKnRSTlMAAvrOBhyrSI1iLxe2m1Dr5uHKcVUiDO7z3bB8QSjZvKeYg2o9EdKhWzgfXpqXAAAB20lEQVRYw+3X2Y6yQBAF4GJHdpFNcF/G8bz/A/7JH1qWHrEcO5kbvlvweNJUaaDZ7D1WdowjxZlFdFgDuCkN3TY7/Lc01YXmbgJhoyrUd0sIXytfUWq2g2B8qwq9hhB2i5fnyj14LxWh8elFUy1f7G2NlXpZilTbezHT57oCdI+VGouqC22y6D1sR2XFGVbR1Zgu4QQQUsbTSkVqThM2gd6NCqPtsb233E4N9bELDTLGJDhoNRM3Rd1Q7x3OeBVfaDnPH9XpUTXNiOUM4fT0m220khVzEYo1hOpJXfORaufEFKFT/Ty1bntZbzRuqlajL/BIshCpC2LLEwyU39KuxJAWiz9deNJJO4gNMImvwVjlDXdLjFZIb7AhGf7oBfhN2xQS3eqXxYNLfAZkm97J3tAJrY9iew/NWqJnff7gENDb+gxDtc+LPUB27y6HGDF4uWdISn/qjHh/jtsSY3X3QauExCGOEGO99b3okNw4dcWz7ux7Y+/8EJsWxOENcxOPpmNj5vTm+/5oXuhFbMJdCnO1Fk3CnPq8ChLjSlx+5Nq27UbjIuYSkoNGHztOrPYH7jrjaN+nuRhpSAVztC5BQWpyB31ri1TJjO49RVP6AngKDCNwoyvNZrO/8A/MWZXZlJA2zQAAAABJRU5ErkJggg==");}
.workinput{ height:30px; line-height:20px;background:#eef5fa; border:solid 1px #3399cc;}
.wstxt{height:30px; line-height:30px;}
.wspan{width:30px;height:30px; line-height:30px;}
.wicon{background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg=="); background-repeat:no-repeat; background-position:right center;}

code[class*=language-],pre[class*=language-]{color:#000;text-align:left;text-shadow:0 1px #fff;white-space:pre;word-spacing:normal;word-wrap:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;line-height:1.5;direction:ltr;word-break:normal;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{background:#b3d4fc;text-shadow:none;}
code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{background:#b3d4fc;text-shadow:none;}
@media print{code[class*=language-],pre[class*=language-]{text-shadow:none;}}
pre[class*=language-]{overflow:auto;margin:.5em 0;padding:1em;}
:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0;}
:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal;}
.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090;}
.token.punctuation{color:#999;}
.namespace{opacity:.7;}
.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905;}
.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690;}
.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{background:hsla(0,0%,100%,.5);color:#a67f59;}
.token.atrule,.token.attr-value,.token.keyword{color:#07a;}
.token.function{color:#DD4A68;}
.token.important,.token.regex,.token.variable{color:#e90;}
.token.bold,.token.important{font-weight:700;}
.token.italic{font-style:italic;}
.token.entity{cursor:help;}

